body {
    background-color: lightgray;
    font-family: 'Cambria', serif;
}

.hometext {
    background-image: url(portfoliobackground.jpg);
    background-size: cover;
}

#homebackground {
    background-image: url("portfoliobackground.jpg");
    background-size:cover;
    height: 89vh;
    width: auto;
}

#homebackground-text {
    position: relative; 
	top: 25vh; 
	width: 80vw;
    text-align: center;
    color: white;
    background-color: black;
    opacity: 70%;
    margin: auto;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery a {
    color: black;
    text-decoration: none;
}

div.gallery img {
    width: 100%;
    height: auto;
}
  
div.title {
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.headshot img {
    width: 40vw;
    max-width: 250px;
    height: auto;
    padding-top: 20px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

div.about-info {
    padding-top: 50px;
}

div.about-resume {
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
}

#contact-header {
    text-align: center;
}

#contact-info {
    display: inline-block;
    padding-left: 10px;
    padding-top: 20px;
    margin-left: 5%;
    width: 300px;
}

.contact-logos {
    padding-bottom: 15px;
}